{% extends "base.html" %}

{% block content %}
<h4 class="text-center">All Employee Page</h4>
<div class="container card">
<h5 class="text-decoration-underline"> List of Employees</h5>
<div>
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">id from DB</th>
            <th scope="col">Employeeid</th>
            <th scope="col">Employee name</th>
            <th scope="col">Employee Email</th>
            <th scope="col">Employee Address</th>
            <th scope="col">Employee Phone</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% if allemployees %}
            {% for eachemployee in allemployees %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td scope="row">{{eachemployee.id}}</td>
            <td>{{eachemployee.employeeid}}</td>
            <td>{{eachemployee.employeename}}</td>
            <td>{{eachemployee.email}}</td>
            <td>{{eachemployee.address}}</td>
            <td>{{eachemployee.phone}}</td>
            <td><a href="{%url 'updateemployee' eachemployee.id %}" class="btn btn-sm btn-outline-success">Update</a></td>
            <td><a href="{%url 'deleteemployee' eachemployee.id %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
</div>
</div>
{% endblock content %}

    
